
.nav-mobi{display: none;}

@media (max-width:991px) {
    .nav-mobi{
        display: block;
        background: #1D4F95;
        padding: 3px 15px;
        position: fixed;
        top: 0px;
        z-index: 100;
        width: 100%;
        nav{text-align: center;}

    }
    .nav-h-m{
        max-height: 0;
        transition:max-height 0.4s linear;
        overflow: hidden;

    }
    .nav-h-m.active{
        max-height: 100vh;
        height: 100vh;
    }
    .nav-btn-x{flex:1;}
    .nav-mobi-top{
        list-style: none;
        margin: -6px 0 0 0;padding: 8px 0 0 0;
        max-height: calc(100vh - 110px);
        margin-bottom: 20px;
        overflow: auto;
    }
    .nav-mobi-h{
        display: flex;
        align-items: center;
        height: 27px;
        .tel-mini{margin-right: 12px;padding-top: 4px;}
        .logo{margin: 0;padding-top: 4px;
            img{width: 21px;}
        }
    }
    .hpala{
        width: 26px;
        background: transparent;
        border: none;
        outline: none;
        padding: 4px 7px 9px 7px;
        
        &.active{
            padding: 15px 7px 9px 7px;
            span:first-child{
                transform: rotate(45deg);
                margin: -4px 0px -2px -1px;
            }
            span:last-child{
                transform: rotate(-45deg);
                margin: 0px 0px -5px 0px; 
            }
        }
        span{
            border-top: 1px solid #fff;
            width: 100%;
            display: block;
            margin: 6px 0 0px;
            height: 2px;
            transition: 0.1s all;
        }

   
    }

    .nav-mobi-top{
        text-align: left;
        li{padding: 16px 0;
        border-top:1px solid rgba(255,255,255,0.4);
        
        &:last-child {
          border-bottom:1px solid rgba(255,255,255,0.4);  
          margin-bottom: 16px;
        }
        }
        a{
            color:#fff;
            font-weight: bold;
            font-size: 17px;
            line-height: 19px;
            &:hover{
                color:red
            }
        }
    }
    .white-btn{
        background: #fff;
        border: 1px solid #fff;
        color:#1D4F95;
        padding: 10px;
        display: inline-block;
        &:hover{
            color:#fff;
            background: #1D4F95;
        }
    }
  }